/* === GLOBAL === */
html {
  scroll-behavior: smooth;
  --color-page-background: white;
  --color-card-background: white;
  --color-text: #272729;
  --color-decoration: #dbe2e7;
}

[data-dark-theme="true"] {
  --color-page-background: #272729;
  --color-card-background: #3c3c40;
  --color-text: #dbe2e7;
  --color-decoration: #3c3c40;
}

[data-dark-theme="true"] .card {
  -webkit-box-shadow: none;
          box-shadow: none;
}

[data-dark-theme="true"] .card::after {
  opacity: 0;
}

[data-dark-theme="true"] img:not(.profile-picture) {
  -webkit-filter: invert(1);
          filter: invert(1);
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  color: var(--color-text);
  background: var(--color-page-background);
  overflow-x: hidden;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.container {
  width: 100%;
  max-width: none;
  margin: 0 auto;
  padding: 0 20px;
}

section {
  width: 100%;
  margin-top: 70px;
}

footer {
  width: 100%;
  margin-top: 70px;
}

p {
  font-size: 16px;
}

.margin-before {
  margin-top: 20px;
}

h1 {
  font-size: 48px;
}

h2 {
  font-size: 32px;
  margin-bottom: 20px;
}

.heading-decoration {
  color: var(--color-decoration);
}

a {
  color: var(--color-text);
  text-decoration: none;
  position: relative;
}

a:not(.no-animation)::after {
  content: "";
  width: 1em;
  height: 1.5px;
  position: absolute;
  left: 0;
  bottom: 0;
  background: var(--color-decoration);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

a:not(.no-animation):hover::after {
  width: 100%;
  background: var(--color-text);
}

.date {
  font-family: "Roboto Mono", "Poppins", sans-serif;
}

.button {
  display: block;
  padding: 10px 0;
  width: 200px;
  max-height: 48px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  color: #08c2e3;
  border: 2px solid #08c2e3;
  border-radius: 50px;
  margin-top: 30px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.button:hover {
  color: white;
  font-size: 17px;
  letter-spacing: 1.2px;
  background: #08c2e3;
}

.button:active {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
  letter-spacing: normal;
}

.card {
  border-radius: 8px;
  padding: 30px;
  background: var(--color-card-background);
  position: relative;
}

.card::after {
  border-radius: 8px;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-box-shadow: 0 10px 20px rgba(219, 226, 231, 0.8), 0 6px 6px rgba(219, 226, 231, 0.9);
          box-shadow: 0 10px 20px rgba(219, 226, 231, 0.8), 0 6px 6px rgba(219, 226, 231, 0.9);
  opacity: 1;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

/* === NAVBAR === */
nav {
  height: 60px;
  background: var(--color-page-background);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.social-links {
  display: none;
}

.social-links a {
  margin-left: 20px;
}

.social-links a::after {
  width: 0;
}

.social-links img {
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.social-links img:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.nav-wrapper {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/* === DARK THEME TOGGLE === */
.dark-theme-toggle {
  position: fixed;
  bottom: 24px;
  right: 24px;
  background: var(--color-card-background);
  border: 2px solid var(--color-text);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 14px;
  border-radius: 100px;
  z-index: 10;
}

/* === HERO === */
.hero {
  height: 80vh;
  margin-top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: url("../img/hero-bg.jpg");
  background-size: cover;
  background-attachment: fixed;
}

.profile-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.profile-wrapper img {
  width: 180px;
  border-radius: 50%;
}

.profile-text {
  margin-top: 20px;
  margin-left: 0;
}

.profile-text h1 {
  color: white;
  font-size: 40px;
}

.profile-text .tagline {
  color: white;
  font-weight: 600;
}

/* === WORK === */
.project-card {
  width: 100%;
  height: 250px;
  margin-bottom: 20px;
}

.project-card__text {
  position: absolute;
  bottom: 30px;
  left: 30px;
  right: 30px;
}

.project-card__name {
  margin-bottom: 4px;
}

.project-card-1 {
  background: url(../img/project-1.png);
  background-size: cover;
  background-position: bottom;
  color: #272729;
}

.project-card-2 {
  background: url(../img/project-2.png);
  background-size: cover;
  background-position: bottom;
  color: white;
}

.button-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.button-wrapper .button {
  margin-right: 20px;
}

/* === SKILLS === */
.flex-card-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 40px;
}

.flex-card-wrapper-1 {
  margin-bottom: 0;
}

.skill-card {
  width: 100%;
  margin-bottom: 20px;
}

.skill-card__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
}

.skill-card__header img {
  margin-right: 16px;
}

.progress-bar {
  height: 10px;
  width: 100%;
  background: var(--color-decoration);
  border-radius: 10px;
  margin-top: 8px;
  margin-bottom: 16px;
}

.progress-bar .progress-bar-fill {
  height: 100%;
  background: #08c2e3;
  border-radius: 10px;
}

.progress-bar .progress-bar-fill-1 {
  width: 90%;
}

.progress-bar .progress-bar-fill-2 {
  width: 80%;
}

.progress-bar .progress-bar-fill-3 {
  width: 50%;
}

/* === EXPERIENCE === */
.location-card .location-card-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
}

.location-card .location-card-header img {
  margin-right: 16px;
}

.location-card ul {
  margin-left: 20px;
}

.vertical-dotted-line {
  width: 2px;
  height: 30px;
  margin-left: 52px;
  border-right: 4px dotted var(--color-text);
  z-index: -1;
}

/* === CONTACT === */
.contact-detail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
}

.contact-detail img {
  margin-right: 20px;
}

/* === FOOTER === */
footer {
  margin-bottom: 30px;
}

/* === MEDIA QUERIES === */
@media screen and (min-width: 576px) {
  .container {
    max-width: 540px;
  }
  .social-links {
    display: block;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 720px;
  }
  .profile-wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    text-align: left;
  }
  .profile-text {
    margin-top: 0;
    margin-left: 30px;
  }
  .profile-text h1 {
    font-size: 48px;
  }
  .flex-card-wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .flex-card-wrapper-1 {
    margin-bottom: 20px;
  }
  .project-card {
    margin-right: 20px;
    margin-bottom: 0;
    width: 500px;
  }
  .skill-card {
    margin-right: 20px;
    margin-bottom: 0;
    width: 500px;
  }
  .progress-bar {
    width: 500px;
  }
}

@media screen and (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1150px;
  }
}
/*# sourceMappingURL=main.css.map */